---
const { frontmatter } = Astro.props;
---
<!-- <pre>{JSON.stringify(frontmatter, null, 2)}</pre> -->
<div class="w-10/12 md:w-4/12 mx-auto grid grid-cols-2 gap-5 mt-5">
    <div class="col-span-2 lift py-5 lit rounded-lg">
        <div class="flex justify-evenly ">
                <div class="">
                    <img src="/icons/sm.png" alt="" class="icon scale-75 origin-bottom">
                    <p class="text-lg font-semibold">{frontmatter.price[0]}</p>
                </div>
                <div class="">
                    <img src="/icons/md.png" alt="" class="icon scale-90 origin-bottom">
                    <p class="text-lg font-semibold">{frontmatter.price[1]}</p>
                </div>
                <div class="">
                    <img src="/icons/lg.png" alt="" class="icon">
                    <p class="text-lg font-semibold">{frontmatter.price[2]}</p>
                </div>
        </div>
    </div>
    <div class="md:col-span-1 lift p-3 rounded-lg">
        <p class="my-1 text-lg font-semibold text-cen">Ingredients</p>
        {frontmatter.ing.map((ingredient) => <p class="text-sm">{ingredient}</p>)}
    </div>
    <div class="rounded-lg p-3 md:col-span-1 lift">
        <p class="my-1 text-lg font-semibold text-cen">Dietary Info</p>
        {frontmatter.diet.map((dietaryInfo) => <p class="text-sm">{dietaryInfo}</p>)}
    </div>
    <div class="col-span-2 p-3 lift rounded-lg flex justify-between">
        <p>Want this cake?</p>
       <div>
        <a href="" class="py-2 px-4 rosyy text-white mr-3"><button>Order</button></a>
        <a href="" class="py-2 px-4 rosyy text-white"><button>Delivery</button></a>
       </div>
    </div>
</div>

<style>
    .icon {
        width: 50px;
        height: 50px;

    }
</style>


