---
import '../styles/main.css';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Price from '../components/Price.astro';
import { Image } from '@astrojs/image/components'

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.name} | Rosy Hearts</title>
	</head>
	<body>
        <Nav></Nav>
        <h1 class="text-3xl text-center mb-5 mt-10">{frontmatter.name}</h1>
       <div class="relative ">
                <Image 
                class="lift m-auto rounded-lg"
                src={frontmatter.img} 
                alt={frontmatter.alt}  
                aspectRatio={3/2}
                format="avif"
                height={280}
                fit="cover"
                position="center"
                />
            <div class="md:block hidden comment absolute w-40 top-1/2 -translate-y-1/2 right-1/6">
                <p class="p-2">{frontmatter.comment}</p>
                <img src="/icons/arrow.png" alt="" class="rotate-180 h-20 w-20 ">
            </div>
       </div>
        <Price {frontmatter} />
	</body>
    <Footer></Footer>
</html>

<style>
    .comment {
        right: calc(50% - 384px );
    }
</style>


